.body{
	background-image: url("../images/fond.jpg");
}

.photo{
	position: relative;
	width: 200px;
	margin: auto;
	top: 30%;
}

.map{
	width:40%;
	height: 150px;
	margin: auto;
	position: relative;
	top: 200px;
}

.presentation{
	width: 40%;
	margin: auto;
	color: white;
	background-color: #31A9AE;
	padding: 10px;
	border-radius: 5%;
	
}